body{
  background: rgb(40, 44, 51);
  color: whitesmoke;
  text-align: center;
}
div{
  font-size: 2em;
}

a{
  color: whitesmoke;
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
  font-size: 12px;
}

.activado{
  background-color: blueviolet;
}

.reyes img{
  width: 30%;
  margin-bottom: 25px;
}